<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='formLong'>
    <div class="formItem">
      <%= f.label :title %><br>
      <%= f.text_field :title, placeholder: 'Title' %>
    </div>
  </div>

  <div class='formBox'>
    <div class="field">
      <%= f.label :cuisine_id %><br>
      <%= f.select :cuisine_id,Cuisine.pluck(:name, :id) %>
    </div>
  </div>

  <div class='formBox'>
    <div class="field">
      <%= f.label :category_id %><br>
      <%= f.select :category_id, Category.pluck(:name, :id) %>
    </div>
  </div>

  <div class='formBox'>
    <div class="formItem">
      <%= f.label :image_url %><br>
      <%= f.text_field :image_url, placeholder: 'Image URL' %>
    </div>
    <div class="formItem">
      <%= f.label :description %><br>
      <%= f.text_field :description, placeholder: 'Description' %>
    </div>
  </div>

  <div class='formBox'>
    <div class="formItem">
      <%= f.label :cook_time %><br>
      <%= f.text_field :cook_time, placeholder: 'Cook Time' %>
    </div>
    <div class="formItem">
      <%= f.label :serving_num %><br>
      <%= f.text_field :serving_num, placeholder: 'Serving Number' %>
    </div>
  </div>

  <div class='formLong'>
    <div class="formItem">
      <%= f.label :instruction %><br>
      <%= f.text_area :instruction, placeholder: 'Instructions' %>
    </div>
  </div>

<div class='formLong itemListing'>
  <%= f.fields_for :ingredients do |ff|%>
    <div class="ingredient">
      <div class="fielding">
        <%= ff.label :quanity %><br>
        <%= ff.text_field :quanity %>
      </div>

      <div class="fielding">
        <%= ff.label :unit %><br>
        <%= ff.text_field :unit %>
      </div>

      <div class="fielding">
        <%= ff.label :item_id %><br>
        <%= ff.select :item_id, Item.pluck(:name, :id) %>
      </div>
      <div class='fielding'>
        <a href=#><p class='cross'>&#10799;</p></a>
      </div>
    </div>
  <% end %>
  </div>

  <div class="actions">
    <%= f.submit class:'submitForm' %>
  </div>
<% end %>
