<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :cuisine_id %><br>
    <%= f.text_field :cuisine_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :cook_time %><br>
    <%= f.text_field :cook_time %>
  </div>
  <div class="field">
    <%= f.label :serving_num %><br>
    <%= f.text_field :serving_num %>
  </div>
  <div class="field">
    <%= f.label :instruction %><br>
    <%= f.text_area :instruction %>
  </div>


  <%= f.fields_for :ingredients do |ff|%>
  <div class="ingredient">
  <div class="field">
    <%= ff.label :quanity %><br>
    <%= ff.text_field :quanity %>
  </div>

  <div class="field">
    <%= ff.label :unit %><br>
    <%= ff.text_field :unit %>
  </div>

  <div class="field">
    <%= ff.label :item_id %><br>
    <%= ff.select :item_id, Item.pluck(:name, :id) %>
  </div>
  </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
