<div class='pageIntro'>
  <h1><%= @recipe.title %> <small><small><small><small>
    <% if current_user %>
      <% if current_user.id == @recipe.user_id %>
        <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
      <% end %>
      <%= link_to 'Back', recipes_path %>
    <% end %>
  </small></small></small></small></h1>
</div>
<div class='container'>
  <p id="notice"><%= notice %></p>
  <% if current_user %>
    <%= react_component 'ShowRecipe', {currentUser:current_user.id, id:@recipe.id, fork: image_url('fork.png'), heart: image_url('heart.png')} %>
  <% else %>
    <%= react_component 'ShowRecipe', {currentUser:current_user, id:@recipe.id, fork: image_url('fork.png'), heart: image_url('heart.png')} %>
  <% end %>
</div>
