<!DOCTYPE html>
<html>
<head>
  <title>Podge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navigation">
    <h2>Podge</h2>
    <nav>
      <a href="/"><li>Home </li></a>
      <a href="/recipes"><li>Search </li></a>
      <% if current_user %>
        <a href="/favoriteRecipe"><li>Favorites </li></a>
        <a href= <%= "/userRecipe/#{current_user.id}" %> ><li>My Recipes </li></a>
        <li><%= link_to 'Add New Recipe', new_recipe_path %></li>
      <% end %>
      <a href="#"><li>About </li></a>
      <a href="#"><li>Contact </li></a>
    </nav>
    <% if current_user %>
      <p><strong>Signed in as <%= current_user.first_name %></strong><p>
      <button class='logout'><strong><%= link_to "Sign out", signout_path%></strong></button>
    <% else %>
      <button id='facebook'><strong><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></strong></button>
      <button id='google'><strong><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></strong></button>
    <% end %>
    <div class="grab">&#9776;</div>
  </div>

  <%= yield %>


</body>
</html>
